body {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color:hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 25px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}

button {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-weight: bold;
    font-size: 3rem;
    cursor: pointer;
}

#keys{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
    text-overflow: hidden;
}

button:hover{
background-color: hsl(0, 0%, 40%);
}

button:active{
background-color:hsl(0, 0%, 50%);
}

.operator{
    background-color: hsl(214, 50%, 60%);
}

.operator:hover{
    background-color: hsl(214, 50%, 70%);
}

.operator:active{
    background-color: hsl(214, 50%, 80%);
}



